<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout">

<body>
	<!-- Top bar starts -->
	<div class="top-bar clearfix" layout:fragment="top_bar">
		<div class="row gutter">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="page-title">
					<h4>抽選イベント削除完了</h4>
				</div>
			</div>
		</div>
	</div>
	<!-- Top bar ends -->

	<!-- Main container starts -->
	<div class="main-container" layout:fragment="main_container">
		<div class="alert alert-success light">
			<button type="button" class="close" data-dismiss="alert"
				aria-hidden="true">&times;</button>
			<i class="icon-check_circle"></i><strong>削除完了</strong>
			抽選イベントを削除しました！
		</div>
		<!-- Row starts -->

		<div class="row gutter">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="panel panel-blue">
					<div class="panel-heading">
						<h4>抽選イベント情報</h4>
					</div>
					<div class="panel-body">
						<form id="defaultForm" method="post" th:action="@{/lottery/list}" class="form-horizontal">
							<div class="form-group row gutter">
								<strong class="col-lg-2 text-right">抽選イベントID</strong>
								<div class="col-lg-4">
									<label class="col-lg-12" id="lottery_id" th:text="${lotteryDto.lotteryId}">9527</label>
								</div>
							</div>
							<div class="form-group row gutter">
								<strong class="col-lg-2 text-right">抽選詳細</strong>
								<div class="col-lg-4">
									<label class="col-lg-12" id="lotteryDetail" th:text="${lotteryDto.lotteryDetail}"></label>
								</div>
							</div>
							<div class="form-group row gutter">
								<strong class="col-lg-2 text-right">抽選タイトル</strong>
								<div class="col-lg-4">
									<label class="col-lg-12" id="lotteryTitle" th:text="${lotteryDto.lotteryTitle}"></label>
								</div>
							</div>
							<div class="form-group row gutter">
								<strong class="col-lg-2 text-right">抽選画像URL</strong>
								<div class="col-lg-4">
									<label class="col-lg-12" id="lotteryImageUrl" th:text="${lotteryDto.lotteryImageUrl}"></label>
								</div>
							</div>
							<div class="form-group row gutter">
								<strong class="col-lg-2 text-right">応募開始日時</strong>
								<div class="col-lg-4">
									<label class="col-lg-12" id="startDatetime" th:text="${lotteryDto.startDatetime}"></label>
								</div>
							</div>
							<div class="form-group row gutter">
								<strong class="col-lg-2 text-right">応募終了日時</strong>
								<div class="col-lg-4">
									<label class="col-lg-12" id="endDatetime" th:text="${lotteryDto.endDatetime}"></label>
								</div>
							</div>
							<div class="form-group row gutter">
								<strong class="col-lg-2 text-right">結果発表日時</strong>
								<div class="col-lg-4">
									<label class="col-lg-12" id="announcementDatetime" th:text="${lotteryDto.announcementDatetime}"></label>
								</div>
							</div>
							<div class="form-group row gutter">
								<strong class="col-lg-2 text-right">表示開始日時</strong>
								<div class="col-lg-4">
									<label class="col-lg-12" id="displayStartDatetime" th:text="${lotteryDto.displayStartDatetime}"></label>
								</div>
							</div>
							<div class="form-group row gutter">
								<strong class="col-lg-2 text-right">表示終了日時</strong>
								<div class="col-lg-4">
									<label class="col-lg-12" id="displayEndDatetime" th:text="${lotteryDto.displayEndDatetime}"></label>
								</div>
							</div>
<!-- 							<div class="form-group row gutter"> -->
<!-- 								<strong class="col-lg-2 text-right">クーポンID</strong> -->
<!-- 								<div class="col-lg-4"> -->
<!-- 									<label class="col-lg-12" id="couponId" th:text="${lotteryDto.couponId}"></label> -->
<!-- 								</div> -->
<!-- 							</div> -->
							<div class="form-group row gutter center-text">
								<div class="col-lg-12　">
									<button type="submit" class="btn btn-warning"
										th:formaction="@{/lottery/list}" th:formmethod="get">一覧へ戻る</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Row ends -->
	</div>
	<!-- Main container ends -->
</body>
</html>