<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="layout">

<body>
	<!-- Top bar starts -->
	<div class="top-bar clearfix" layout:fragment="top_bar">
		<div class="row gutter">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="page-title">
					<h4>抽選イベント更新</h4>
				</div>
			</div>
		</div>
	</div>
	<!-- Top bar ends -->

	<!-- Main container starts -->
	<div class="main-container" layout:fragment="main_container">
		<!-- Row starts -->
		<div class="row gutter">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<strong class="text-danger">※の項目は、必須項目です。</strong>
				<div class="panel panel-blue">
					<div class="panel-heading">
						<h4>抽選イベント更新</h4>
					</div>
					<div class="panel-body">
					<form class="form-horizontal" th:action="@{/lottery/updateConfirm}" method="post" th:object="${lotteryInputForm}">
						
							<fieldset>
								<input type="hidden" th:field="*{lotteryId}"/>
								
										<div class="form-group row gutter">
									<strong class="col-lg-2 control-label">抽選詳細<span class="text-danger">※</span></strong>
									<div class="col-lg-4">
										<input type="text" class="form-control" placeholder="抽選詳細" id="lotteryDetail" th:field="*{lotteryDetail}" required="required" />
									</div>
								</div>
								<div class="form-group row gutter">
									<strong class="col-lg-2 control-label">抽選タイトル<span class="text-danger">※</span></strong>
									<div class="col-lg-2">
										<input type="text" class="form-control" placeholder="抽選タイトル" name="lotteryTitle" th:field="*{lotteryTitle}" required="required" />
									</div>
								</div>
								<div class="form-group row gutter">
									<strong class="col-lg-2 control-label">抽選画像URL<span class="text-danger">※</span></strong>
									<div class="col-lg-2">
										<input type="url" class="form-control" placeholder="" name="lotteryImageUrl" th:field="*{lotteryImageUrl}" required="required" />
									</div>
								</div>
								<div class="form-group row gutter">
									<strong class="col-lg-2 control-label">応募開始日時<span class="text-danger">※</span></strong>
									<div class="col-lg-2">
										<input type="datetime-local" class="form-control" name="startDatetime" th:field="*{startDatetime}" required="required" />
									</div>
								</div>
								<div class="form-group row gutter">
									<strong class="col-lg-2 control-label">応募終了日時<span class="text-danger">※</span></strong>
									<div class="col-lg-2">
										<input type="datetime-local" class="form-control" name="endDatetime" th:field="*{endDatetime}" required="required" />
									</div>
								</div>
								<div class="form-group row gutter">
									<strong class="col-lg-2 control-label">結果発表日時<span class="text-danger">※</span></strong>
									<div class="col-lg-2">
										<input type="datetime-local" class="form-control" name="announcementDatetime" th:field="*{announcementDatetime}" required="required" />
									</div>
								</div>
								<div class="form-group row gutter">
									<strong class="col-lg-2 control-label">クーポンID</strong>
									<div class="col-lg-2">
										<input type="number" class="form-control" name="couponId" th:field="*{couponId}" />
									</div>
								</div>

								<div class="demo-btn-group center-text col-lg-12">
									<div class="btn-block">
										<button type="submit" class="btn btn-success">確認</button>
										<button type="submit" class="btn btn-warning" th:formaction="@{/lottery/returnToLotteryDetail(lotteryId=*{lotteryId})}" th:formmethod="post">戻る</button>
									</div>
								</div>
							</fieldset>
						</form>
						<!-- Row ends -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Main container ends -->
</body>
</html>