<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout">

<body>
	<!-- Top bar starts -->
	<div class="top-bar clearfix" layout:fragment="top_bar">
		<div class="row gutter">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="page-title">
					<h4>ユーザー新規完了</h4>
				</div>
			</div>
		</div>
	</div>
	<!-- Top bar ends -->

	<!-- Main container starts -->
	<div class="main-container" layout:fragment="main_container">

		<div class="alert alert-success light">
			<button type="button" class="close" data-dismiss="alert"
				aria-hidden="true">&times;</button>
			<i class="icon-check_circle"></i><strong>作成完了</strong> ユーザーを作成しました！
		</div>
		<!-- Row starts -->
		<div class="row gutter">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="panel panel-blue">
					<div class="panel-heading">
						<h4>ユーザー情報</h4>
					</div>
					<div class="panel-body">
						<form action="#" th:action="@{/user/list}" method="get" >
							<div class="form-group row gutter">
								<strong class="col-lg-2 text-right">ユーザーID</strong>
								<div class="col-lg-4">
									<label class="col-lg-12" id="user_id" th:text="${userDto.userId}">9527</label>
								</div>
							</div>
							<div class="form-group row gutter">
								<strong class="col-lg-2 text-right">メールアドレス</strong>
								<div class="col-lg-4">
									<label class="col-lg-12" id="email" th:text="${userDto.email}">user@sparkworks.co.jp</label>
								</div>
							</div>
							<div class="form-group row gutter">
								<strong class="col-lg-2 text-right">氏名</strong>
								<div class="col-lg-4">
									<label class="col-lg-12" id="name" th:text="${userDto.userName}">新垣结衣</label>
								</div>
							</div>
							<div class="form-group row gutter">
								<strong class="col-lg-2 text-right">パスワード</strong>
								<div class="col-lg-4">
									<label class="col-lg-12" id="password" th:text="${userInputForm.password}">abcd121212</label>
								</div>
							</div>
							<div class="form-group row gutter">
								<strong class="col-lg-2 text-right">権限</strong>
								<div class="col-lg-4">
									<label class="col-lg-12" id="role" th:text="${T(jp.co.opentone.arapp.backoffice.enums.Role).of(__${userDto.roleId}__).label}">管理者</label>
								</div>
							</div>
							<div class="form-group row gutter center-text">
								<div class="col-lg-12　">
									<button type="submit" class="btn btn-warning">一覧へ戻る</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Row ends -->
	</div>
	<!-- Main container ends -->
</body>
</html>