<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout">

<body>
	<!-- Top bar starts -->
	<div class="top-bar clearfix" layout:fragment="top_bar">
		<div class="row gutter">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="page-title">
					<h4>ユーザー情報</h4>
				</div>
			</div>
		</div>
	</div>
	<!-- Top bar ends -->

	<!-- Main container starts -->
	<div class="main-container" layout:fragment="main_container">
		<!-- Row starts -->
		<div class="row gutter">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="panel panel-blue">

			
						<form class="form-horizontal" method="post" th:action="@{/user/returnToUserList}" th:object="${userInputForm}">
					<div class="panel panel-blue">
						<div class="panel-heading">
							<h4>ユーザー情報</h4>
						</div>
						<div class="panel-body">
							<div class="form-group row gutter">
								<input type="hidden" th:field="${userDto.userId}" /> <strong class="col-lg-2 text-right">ユーザーID</strong>
								<div class="col-lg-4">
									<label class="col-lg-12" id="userId" th:text="${userDto.userId}">9527</label>
								</div>
							</div>
							<div class="form-group row gutter">
								<strong class="col-lg-2 text-right">メールアドレス</strong>
								<div class="col-lg-4">
									<label class="col-lg-12" id="email" th:text="${userDto.email}">user@fund.co.jp</label>
								</div>
							</div>
							<div class="form-group row gutter">
								<strong class="col-lg-2 text-right">氏名</strong>
								<div class="col-lg-4">
									<label class="col-lg-12" id="userName" th:text="${userDto.userName}">新垣结衣</label>
								</div>
							</div>
							<div class="form-group row gutter">
								<strong class="col-lg-2 text-right">権限</strong>
								<div class="col-lg-4">
									<label class="col-lg-12" id="roleId" th:text="${T(jp.co.opentone.arapp.backoffice.enums.Role).of(__${userDto.roleId}__).label}">管理者</label>
								</div>
							</div>
							<div class="form-group row gutter center-text">
								<div class="demo-btn-group center-text col-lg-12　">
									<div class="btn-block">
										<button type="submit" class="btn btn-success" sec:authorize="hasAuthority('USER_UPDATE')" th:formaction="@{/user/update(userId=${userDto.userId})}" th:formmethod="post">更新</button>
										<button type="submit" class="btn btn-danger" sec:authorize="hasAuthority('USER_DELETE')" th:formaction="@{/user/deleteConfirm(userId=${userDto.userId})}" th:formmethod="post">削除</button>
										<button type="submit" class="btn btn-warning" th:formaction="@{/user/returnToUserList}" th:formmethod="post">戻る</button>
									</div>
								</div>
							</div>

						</div>
					</div>
				</form>
					
				</div>
			</div>
		</div>
		<!-- Row ends -->
	</div>
	<!-- Main container ends -->
</body>
</html>