<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="layout">

<body>
	<!-- Top bar starts -->
	<div class="top-bar clearfix" layout:fragment="top_bar">
		<div class="row gutter">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="page-title">
					<h4>店舗新規確認</h4>
				</div>
			</div>
		</div>
	</div>
	<!-- Top bar ends -->

	<!-- Main container starts -->
	<div class="main-container" layout:fragment="main_container">
		<!-- Row starts -->
		<div class="row gutter">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="panel panel-blue">

					<form action="#" th:action="@{/restaurant/createComplete}" method="post" th:object="${restaurantInputForm}">
						<div th:replace="common/errorMessages"></div>
						<div class="panel panel-blue">
							<div class="panel-heading">
								<h4>店舗情報確認</h4>
							</div>
							<div class="panel-body">
								<div class="form-group row gutter">
									<strong class="col-lg-2 text-right">店舗名</strong>
									<div class="col-lg-4">
										<label class="col-lg-12" th:text="*{restaurantName}">user@fund.co.jp</label>
									</div>
								</div>
								<div class="form-group row gutter">
									<strong class="col-lg-2 text-right">店舗担当者</strong>
									<div class="col-lg-4">
										<label class="col-lg-12" th:text="*{manager}">新垣结衣</label>
									</div>
								</div>
								<div class="form-group row gutter">
									<strong class="col-lg-2 text-right">店舗連絡先</strong>
									<div class="col-lg-4">
										<label class="col-lg-12" th:text="*{telephonePhone}">abcd121212</label>
									</div>
								</div>
								<div class="form-group row gutter">
									<strong class="col-lg-2 text-right">店舗営業時間</strong>
									<div class="col-lg-4">
										<label class="col-lg-12" th:text="*{businessHours}">abcd121212</label>
									</div>
								</div>
								<div class="form-group row gutter">
									<strong class="col-lg-2 text-right">店舗URL</strong>
									<div class="col-lg-4">
										<label class="col-lg-12" th:text="*{siteUrl}">abcd121212</label>
									</div>
								</div>
								<div class="form-group row gutter">
									<strong class="col-lg-2 text-right">店舗画像URL</strong>
									<div class="col-lg-4">
										<label class="col-lg-12" th:text="*{imageUrl}">abcd121212</label>
									</div>
								</div>
								<div class="form-group row gutter">
									<strong class="col-lg-2 text-right">緯度</strong>
									<div class="col-lg-4">
										<label class="col-lg-12" th:text="*{latitude}">abcd121212</label>
									</div>
								</div>
								<div class="form-group row gutter">
									<strong class="col-lg-2 text-right">経度</strong>
									<div class="col-lg-4">
										<label class="col-lg-12" th:text="*{longitude}">abcd121212</label>
									</div>
								</div>
								<div class="form-group row gutter">
									<strong class="col-lg-2 text-right">店舗ステータス</strong>
									<div class="col-lg-4">
										<label class="col-lg-12" th:text="${T(jp.co.sparkworks.restaurant.backoffice.enums.RestaurantStatus).of(__*{restaurantStatus}__).label}">abcd121212</label>
									</div>
								</div>
								<div class="form-group row gutter">
									<strong class="col-lg-2 text-right">店舗アドレス</strong>
									<div class="col-lg-4">
										<label class="col-lg-12" th:text="*{address}">abcd121212</label>
									</div>
								</div>
								<div class="form-group row gutter">
									<strong class="col-lg-2 text-right">店舗備考</strong>
									<div class="col-lg-4">
										<label class="col-lg-12" th:text="*{memo}">abcd121212</label>
									</div>
								</div>
								<div class="demo-btn-group center-text col-lg-12">
									<div class="btn-block">
										<button sec:authorize="hasAuthority('RESTAURANT_CREATE')" type="submit" class="btn btn-success" th:formaction="@{/restaurant/createComplete}" th:formmethod="post">登録</button>
										<button type="submit" class="btn btn-warning" th:formaction="@{/restaurant/create}" th:formmethod="get">戻る</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- Row ends -->
	</div>
	<!-- Main container ends -->
</body>
</html>